# This is a basic workflow to help you get started with Actions

name: auto weekly podcast

on:
  schedule:
    - cron: '0 23 * * 5'
  push:
    branches : [ main ]
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: 'Set up Python'
        uses: actions/setup-python@v1
        with:
           python-version: 3.7
      - name: 'Install requirements'
        run: pip install -r ./requirements.txt
      - uses: actions/checkout@v2
      - name: 'run python'
        run: python ./essay_reminder.py
